#viewport, body {
  width: 410px;
  height: 350px;
  overflow: hidden;
  overflow-y: auto;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
}

#trackList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#trackList li {
	display: block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	padding: 8px 10px;
	color: #666;
	font-size: 1.05em;
}

#trackList li:nth-child(2n) {
  background-color: #EDF3FE;
}

#trackList li:last-child {
  border-bottom: none;
}


#trackList li div.title {
	font-size: 13px;
	margin-bottom: 2px;
	font-weight: bold;
	word-wrap: break-word;
	width: 100%;
	color: #222;
}

#trackList li.selected {
	background-color: #3875D7;
	color: #FFF;
}
#trackList li.selected div.title {
  color: #FFF;
}

#trackList li.prevPage, #trackList li.nextPage {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  color: #3875D7;
}

#player #controls {
  padding-left: 10px;
  margin-bottom: 7px;
  float: left;
  width: 61px;
}

#player .control {
  display: inline-block;
  padding: 3px;
  border: 1px solid #eee;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  margin-right: 5px;
}

#progress {
  float: left;
  background-color: #FAFAFA;
  height: 20px;
  border-radius: 10px;
  width: 310px;
  margin-left: 10px;
  margin-top: 3px;
  position: relative;
}
#progress>div {
  background-color: #e7e7e7;
  height: 20px;
  border-radius: 10px;
}


#viewport::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

#viewport::-webkit-scrollbar-track-piece {
  background-color: #FAFAFA;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

#viewport::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ddd;
  -webkit-border-radius: 8px;
}